apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- postgres-statefulset.yaml
- postgres-pvc.yaml
- postgres-service.yaml

configMapGenerator:
- behavior: create
  files:
  - sources.yaml
  name: model-catalog-sources
  options:
    disableNameSuffixHash: true

secretGenerator:
- envs:
  - postgres.env
  name: model-catalog-postgres
  options:
    disableNameSuffixHash: true
- envs:
  - hf-api-key.env
  name: model-catalog-hf-api-key
  options:
    disableNameSuffixHash: true
images:
- name: quay.io/opendatahub/model-registry
  newName: quay.io/opendatahub/model-registry
  newTag: v0.3.5
